* {
    box-sizing: border-box;
}
// html {
//     // font-family: "Courier New", Courier, monospace;
//     // color: #292929;
//     // We will select our font
// }

body {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}


.seat-svg{
    cursor: pointer;
}

.reserved{
    background-color: #292929;
}

.selected{
    background-color: red;
    cursor: none;
}

